@media (max-width: 768px) {
    footer {
        .footer {
            .spin-icon {
                height: 100px;
            }
            .footer__section {
                .footer__section_title {
                    font-size: 16px;
                }
                .footer__section_list {
                    font-size: 14px;
                }
            }
            .footer__section3 {
                display: none;
            } 
        }
    }
}
@media (max-width: 768px) {
    main {
        .section1 {
            background-repeat: no-repeat;
            .mainLogo {
                width: 60%;
            }
            .section1__title {
                font-size: 50px;
            }
            .section1__info {
                margin: auto;
                padding: 0px 20px 20px 20px;
                .ps_logo {
                    height: 70px;
                    margin: 20px 0px;
                }
                .sie_logo {
                    height: 70px;
                    margin: 20px 0px;
                }
                .sme_logo {
                    height: 70px;
                    margin: 20px 0px;
                }
                .section1__text {
                    width: 600px;
                    padding: 20px;
                    background-color: rgba(220, 220, 220, 0.467);
                    .section1__text-p {
                        @include text;      
                        width: 100%;              
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    main {
        .section2 {
            .section2__title {
                font-size: 50px;
            }
            .section2__video {
                width: 700px;
                .iframe {
                    width: 600px;
                }
                .section2__text-p {
                    width: 100%;
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .section3 {
        background-repeat: no-repeat;
        background-size: cover;
        .section3__title {
            font-size: 50px;
        }
        .section3__p {
            display: none;
        }
        .section3__list {
            li {
                .section3__list_item {
                    font-size: 14px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    main {
        .section-card {
            .game_logo {
                width: 60%;
            }
            .game_info {
                padding: 20px;
                .game_picture {
                    height: 250px
                }
                div {
                    .game_text {
                        width: 400px;
                        font-size: 18px;
                    }
                }
            }
        }
        .card3 {
            .game_info {
                div {
                    .game_text {
                        width: 400px
                    }
                }
            }
        }
        .card6 {
            .game_info {
                div {
                    .game_text {
                        width: 400px
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    main {
        .section13 {
            .section13__maintitle {
                font-size: 50px;
                padding: 20px 0px;
            }
            .section13__content {
                width: 90%;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                margin-bottom: 10px;
                .section13__title {
                    font-size: 30px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    main {
        .section13 {
            .c1 {
                .boc {
                    width: 300px;
                }
                .boa {
                    width: 300px;
                }
            }
            .c2 {
                .boath {
                    width: 300px;
                }
                .bh {
                    width: 300px;
                }
                .sod {
                    width: 150px;
                }
                .boo {
                    width: 150px;
                }
            }
            .c3 {
                .boch {
                    width: 300px;
                }
                .ss {
                    width: 300px;
                }
                .goz {
                    width: 300px;
                }
            }
            .c4 {
                .boathe {
                    width: 300px;
                }
                .aos {
                    width: 300px;
                }
            }
            .c5 {
                .boe {
                    width: 300px;
                }
                .coh {
                    width: 300px;
                }
                .nc {
                    width: 300px;
                }
            }
            .c6 {
                .bc {
                    width: 300px;
                }
                .la {
                    width: 400px;
                }
                .gs {
                    width: 250px;
                }
                .tb {
                    width: 250px;
                }
            }
            .c8 {
                .lax {
                    width: 250px;
                }
                .gsh {
                    width: 250px;
                }
                .ds {
                    width: 140px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    main {
        .section14 {
            .section14__title {
                font-size: 40px;
            }
            .section14__form {
                width: 600px;
                padding: 35px;
                .section14__form_question {
                    font-size: 20px;
                    input {
                        font-size: 18px;
                    }
                    select {
                        font-size: 18px;
                    }
                    textarea {
                        font-size: 18px;
                    }
                    button {
                        padding: 5px;
                        font-size: 18px;
                        line-height: 1;
                        height: 60px;
                    }
                }
            }
        }
    }
}