main {
    .section14 {
        background-image: url(../../assets/img/section14_banner.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        .section14__title {
            @include main-title;
        }
        .section14__form {
            background-color: #f8a30f6f;
            margin: auto;
            width: 800px;
            padding: 35px;
            border-radius: 10px;
            display: block;
            .section14__form_question {
                font-family: $default-font;
                font-size: 26px;
                color: #1B1B1B;
                line-height: 1.5;
                font-weight: bold;
                label {
                    @include flex (row, none, center, none, none);
                    padding: 10px;
                }
                input {
                    @include form;
                }
                select {
                    @include form;
                }
                textarea {
                    @include form;
                    min-height: 160px;
                }
                button {
                    display: block;
                    margin-top: 20px;
                    padding: 10px;
                    color: inherit;
                    border-radius: 2px;
                    font-family: $default-font;
                    font-size: 26px;
                    color: #F2F3F4;
                    line-height: 1.5;
                    width: 100%;
                    height: 80px;
                    cursor: pointer;
                    background-color: #1B1B1B;
                }
            }
        }
    }
}